{deps,
[
  {jxautorec, ".*",
    {git, "https://github.com/vejmelkam/jxautorec.git", {branch, "master"}}, [raw]
  },
  {viswrf, ".*",
    {git, "https://github.com/vejmelkam/viswrf.git", {branch, "master"}}, [raw]
  },
  {steward, ".*",
    {git, "https://github.com/vejmelkam/steward.git", {branch, "master"}}
  },
  {raws_ingest, ".*",
    {git, "https://github.com/vejmelkam/raws_ingest.git", {branch, "master"}}
  },
  {grib_ingest, ".*",
    {git, "https://github.com/vejmelkam/grib_ingest.git", {branch, "master"}}
  },
  {pgsql, ".*",
    {git, "https://github.com/vejmelkam/pgsql.git", {branch, "master"}}
  },
  {fmda, ".*",
    {git, "https://github.com/vejmelkam/fmda.git", {branch, "master"}}, [raw]
  },
  {jiffy, ".*",
    {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}
  }
]}.


