{deps,
[
  {mochiweb, ".*",
    {git, "https://github.com/mochi/mochiweb.git", {branch, "master"}}
  },
  {mochiweb_xpath, ".*",
    {git, "https://github.com/retnuh/mochiweb_xpath.git", {branch, "master"}}
  },
  {jxautorec, ".*",
    {git, "https://github.com/vejmelkam/jxautorec.git", {branch, "master"}}, [raw]
  },
  {fmda, ".*",
    {git, "https://github.com/vejmelkam/fmda.git", {branch, "master"}}, [raw]
  },
  {wrf2kmz, ".*",
    {git, "ssh://git@github.com/vejmelkam/wrf2kmz.git", {branch, "master"}}, [raw]
  }
]}.


