{deps,
[
  {jxautorec, ".*",
    {git, "https://github.com/vejmelkam/jxautorec.git", {branch, "master"}}, [raw]
  },
  {fmda, ".*",
    {git, "https://github.com/vejmelkam/fmda.git", {branch, "master"}}, [raw]
  },
  {fmda_scraper, ".*",
    {git, "https://github.com/vejmelkam/fmda_scraper.git", {branch, "master"}}, [raw]
  },
  {viswrf, ".*",
    {git, "ssh://git@github.com/vejmelkam/viswrf.git", {branch, "master"}}, [raw]
  },
  {steward, ".*",
    {git, "ssh://git@github.com/vejmelkam/steward.git", {branch, "master"}}
  },
  {afm_ingest, ".*",
    {git, "ssh://git@github.com/vejmelkam/afm_ingest.git", {branch, "master"}}
  },
  {raws_ingest, ".*",
    {git, "ssh://git@github.com/vejmelkam/raws_ingest.git", {branch, "master"}}
  }
]}.


